@media (max-width:600px) {

    .log-in-headline {
        position: fixed;
        z-index: 10; 
        top: 1%;
    }

    .login-container {
        position: fixed;
        z-index: 0;
        top: 20%;
        margin-top: 40px;
        height: auto;
    }

    .log-in-head-links {
        position: fixed;
        z-index: 4; 
        bottom: 12%;
        left: 0;
        right: 0;
    }

    .legal-links-container {
        position: fixed;
        bottom: 2%;
        z-index: 0; 
    }

}

@media(max-width: 460px) {

    .login-container {
        top: 20%;
        margin-top: unset;
    }

    .logo img {
        height: 70px;
    }

    h1 {
        font-size: 47px;
    }

    input {
        width: auto;
    }

    .checkbox-container {
        width: 277px;
    }

    .checkbox-container p {
        font-size: 16px;
    }
}

@media (max-height:788px) {
    .login-container {
        top: 15%;
    }

    .button-container,
    .login-form,
    .login-container {
        gap: 15px;
    }

    h1 {
        margin-bottom: 25px;
    }
}

@media only screen and (orientation:landscape) {
    @media(max-height:670px){
        body {
            display: none;
        }
    }
  }

  @media (min-width: 1920px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center
    }

    .login-page-main-container {
        max-width: 1920px;
        border-radius: 60px;
    }

    .log-in-headline{
        width: 100%;
    }
  }